.card {
  border: none; /* Eliminamos el borde existente */
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.493); /* Añadimos una sombra para simular elevación */
  transition: box-shadow 0.3s ease; /* Agregamos una transición suave */
}

.card:hover {
  box-shadow: 0 1rem 2rem rgba(7, 7, 7, 0.89); /* Cambiamos la sombra al pasar el cursor sobre la tarjeta */
}

.card-img-top {
  height: 250px;
  max-width: 100%;
  object-fit: cover;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.25rem;
  color: #0a0a0a;
  font-style: inherit;
}

.card-text {
  max-height: 100px;
  color: #495057;
  overflow-y: auto;
}

.card-text p {
  margin: 0;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.img-thumbnail {
  margin-right: 10px;
}
