<!-- producto.component.html -->
<div class="container mt-5">
  <h1 class="mb-4">Product Store</h1>
  
  <button (click)="logout()">Cerrar sesión</button>
  
  <div class="mb-4">
    <button class="btn btn-primary" (click)="addProduct()" data-toggle="modal" data-target="#editProductModal">Add New Product</button>
  </div>
  
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of producto; let i = index">
          <td>{{item.id}}</td>
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{item.price}}</td>
          <td>
            <img [src]="item.images" class="img-fluid" alt="Product Image" style="max-width: 100px; max-height: 100px;">
          <td>
            <button class="btn btn-warning btn-sm" (click)="editProduct(item.id!)" data-toggle="modal" data-target="#editProductModal">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.id!)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- View Product Modal -->
  <div class="modal fade" id="viewProductModal" tabindex="-1" aria-labelledby="viewProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewProductModalLabel">Product Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="selectedProduct">
            <div class="mb-3">
              <img [src]="selectedProduct.images[0]" class="img-fluid">
            </div>
            <h5>{{selectedProduct.title}}</h5>
            <p>{{selectedProduct.description}}</p>
            <p><strong>Price:</strong> {{selectedProduct.price}}</p>
            <p><strong>Category ID:</strong> {{selectedProduct.categoryId}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteProduct(selectedProduct!.id!)">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Edit/Create Product Modal -->
  <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProductModalLabel">{{selectedProduct.id? 'Edit Product' : 'Create Product'}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="saveProduct()">
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="selectedProduct!.title" name="title" required>
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control" id="description" [(ngModel)]="selectedProduct!.description" name="description" required></textarea>
            </div>
            <div class="form-group">
              <label for="price">Price:</label>
              <input type="number" class="form-control" id="price" [(ngModel)]="selectedProduct!.price" name="price" required>
            </div>
            <div class="form-group">
              <label for="image">Image URL:</label>
              <input type="text" class="form-control" id="image" [(ngModel)]="selectedProduct!.images[0]" name="image" required>
            </div>
            <div class="form-group">
              <label for="category">Category ID:</label>
              <input type="number" class="form-control" id="category" [(ngModel)]="selectedProduct!.categoryId" name="category" required>
            </div>
            <div class="form-group">
              <div class="mt-2">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let image of selectedProduct?.images; let i = index">
                    <img [src]="image" class="img-thumbnail mr-2" width="50" height="50">
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(i)">Remove</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">{{selectedProduct.id? 'Update' : 'Create'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
